@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, sans-serif;
  font-feature-settings:
    "liga" 1,
    "calt" 1; /* fix for Chrome */
}

@supports (font-variation-settings: normal) {
  :root {
    font-family: InterVariable, sans-serif;
  }
}

[x-cloak] {
  display: none !important;
}

form {
  margin-bottom: 0;
}

img[data-mode="fit"] {
  max-height: calc(100vh - 200px);
}

.btn {
  @apply flex items-center justify-center gap-1 rounded-md px-2 py-1 shadow-sm;
}

.btn-blue {
  @apply btn bg-blue-400 hover:bg-blue-500 hover:text-white;
}

.btn-red {
  @apply btn bg-red-400 hover:bg-red-500 hover:text-white;
}

.btn-lime {
  @apply btn bg-lime-400 hover:bg-lime-500 hover:text-white;
}
