@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, sans-serif;
  font-feature-settings:
    "liga" 1,
    "calt" 1; /* fix for Chrome */
}

@supports (font-variation-settings: normal) {
  :root {
    font-family: InterVariable, sans-serif;
  }
}

[x-cloak] {
    display: none;
}

form {
    margin-bottom: 0;
}

img[data-mode='fit'] {
    max-height: calc(100vh - 200px);
}
